$theme-color-dark: #2a2c34;
$theme-color-light: #64949a;
$anti-theme-color: #ffffff;

html{
  width: 100%;
  height: 100%;
  background: radial-gradient($theme-color-dark, $theme-color-light);
}

body{
  margin: 1%;
  width: 98%;
  height: 98%;
}

h1{
  font-variant: small-caps;
  margin: 0;
  font-weight: normal;
  font-size: 6vw;
  line-height: 6vw;
}


