$theme-color: orange;
$theme-color-light: orange;

html{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body{
  width: 98%;
  height: 98%;
}

h1{
  font-variant: small-caps;
  margin: 0;
  font-weight: normal;
  font-size: 4vw;
  line-height: 4vw;
}

button {
  color: white;
  padding: 2% 3% 2% 3%;
  background: transparent;
  border: 2px solid white;
  transition: all 0.5s;

  &:hover{
    background-color: white;
    color: $theme-color-light;
  }

  &:focus{
    outline: none;
  }
}


