$theme-color-dark: #2a2c34;
$theme-color-light: #425458;
$anti-theme-color: #ffffff;

html{
  width: 100%;
  height: 100%;
  background: radial-gradient($theme-color-dark, $theme-color-light);
}

body{
  margin: 1%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: small-caps;
  font-size: 150%;
  width: 98%;
  height: 98%;
  color: white;
}


